# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.py[cod]
*$py.class


# =========================================================
# VIRTUAL ENVIRONMENT
# =========================================================

.venv/
venv/
env/


# =========================================================
# DATABASE
# =========================================================

instance/
*.db
*.sqlite
*.sqlite3


# =========================================================
# IDE
# =========================================================

.vscode/
.idea/


# =========================================================
# TEST / CACHE
# =========================================================

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/


# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db